@model CongViecGiaDinh.Models.HoGiaDinh

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Nice lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Nice admin lite design, Nice admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Nice Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <link rel="canonical" href="https://www.wrappixel.com/templates/niceadmin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/Content/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body row">
                        <h2>Thêm mới hộ gia đình</h2>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.TenHoGiaDinh, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.TenHoGiaDinh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenHoGiaDinh, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MaHoGiaDinh, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.MaHoGiaDinh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaHoGiaDinh, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SoLuongThanhVien, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.SoLuongThanhVien, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoLuongThanhVien, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SoDienThoai, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col" style="margin-bottom:30px">
                            @Html.LabelFor(model => model.IDChuHo, htmlAttributes: new { @class = "control-label" })
                            <br />
                            <select class="form-control" id="IDChuHo" name="IDChuHo">
                                <option value=""> Chọn Tên Chủ Hộ </option>
                                @foreach (var item in ViewBag.tv)
                                {
                                    <option value="@item.ID" name="@item.HoTen">@item.HoTen</option>
                                }

                            </select>
                        </div>

                        <div class="row">
                            @* From select tinh *@
                            <div class="col">
                                @Html.LabelFor(model => model.ThanhPho, htmlAttributes: new { @class = "control-label" })
                                <br />
                                <select class="form-control" id="Tinhtp" name="ThanhPho" onchange="GetQuanHuyen(this)">
                                    <option value=""> --Tỉnh/Thành Phố-- </option>
                                    @foreach (var item in ViewBag.TinhTp)
                                    {
                                        <option value="@item.ID" name="@item.ID">@item.Name</option>
                                    }

                                </select>
                            </div>

                            @* From select quen huyen *@
                            <div class="col">
                                @Html.LabelFor(model => model.QuanHuyen, htmlAttributes: new { @class = "control-label" })
                                <select class="form-control" id="quanhuyen" name="QuanHuyen" onchange="GetXaPhuong(this)">
                                    <option value="">--Quận/Huyên--</option>
                                </select>
                            </div>

                            @* From select xa/phuong *@
                            <div class="col">
                                @Html.LabelFor(model => model.XaPhuong, htmlAttributes: new { @class = "control-label" })
                                <select class="form-control" id="xaphuong" name="XaPhuong">
                                    <option> --Xã/Phường-- </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 20px">
                            <div class="col-md-offset-2 col-md-12 d-flex justify-content-end">

                                <li class="btn btn-outline-danger" style="margin-right: 10px;">
                                    <i class="mdi mdi-window-close"></i> @Html.ActionLink("Hủy", "Index", null, new { style = "color: Red" })
                                </li>
                                <button class="btn btn-outline-primary" type="submit">
                                    <i class="mdi mdi-send"></i> Thêm
                                </button>
                            </div>
                        </div>
                    </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/js/custom.min.js"></script>
    <script src="~/Scripts/BangTin.js"></script>
    <script type="text/javascript" src="~/Content/js/pages/dashboards/AddXaHuyenTinh.js"></script>
</body>
</html>
