@model CongViecGiaDinh.Models.TieuChi

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Nice lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Nice admin lite design, Nice admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Nice Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <link rel="canonical" href="https://www.wrappixel.com/templates/niceadmin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/Content/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-5 align-self-center">
                    <h4 class="page-title">Chỉnh sửa tiêu chí</h4>
                </div>
                <div class="col-7 align-self-center">
                    <div class="d-flex align-items-center justify-content-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">

            @using (Html.BeginForm("SaveEditTable", "TieuChis", FormMethod.Post))
            {
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.ThoiGianTao)
                @Html.HiddenFor(model => model.NguoiTao)

                <div class="form-group">
                    @Html.LabelFor(model => model.TenTieuChi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.TenTieuChi, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.TenTieuChi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Diem, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Diem, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Diem, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12 d-flex justify-content-end">
                        <li class="btn btn-outline-danger" style="margin-right: 10px;">
                            <i class="mdi mdi-window-close"></i> @Html.ActionLink("Hủy", "Index", null, new { style = "color: Red" })
                        </li>
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="mdi mdi-file-check"></i> Lưu
                        </button>

                    </div>
                </div>
            </div>
            }
        </div>
        @*<footer class="footer text-center">
                All Rights Reserved by Nice admin. Designed and Developed by
                <a href="https://www.wrappixel.com">WrapPixel</a>.
            </footer>*@
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <script src="~/Content/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="~/Content/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/Content/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script type="text/javascript" src="~/Content/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>